/* Variables globales */
:root {
    --colorTextos: rgb(75, 25, 60); /* Define una variable global para el color del texto */
}

/* Estilos básicos */
* {
    padding: 0; /* Elimina el padding para todos los elementos */
    margin: 0; /* Elimina el margen para todos los elementos */
    box-sizing: border-box; /* Hace que el padding y el borde se incluyan en el tamaño total de los elementos */
    text-decoration: none; /* Sin subrayado en enlaces */
    list-style: none; /* Sin viñetas en listas */
    font-family: 'Exotc350', Arial, sans-serif; /* Fuente personalizada */
    color: var(--colorTextos); /* Usa la variable global para el color del texto */
}

/* Definición de fuentes personalizadas */
@font-face {
    font-family: 'Exotc350';
    src: url('../Estilo_Texto/EXOT350B.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gothy';
    src: url('../Estilo_Texto/Gothy/GOTHIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilos del body */
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Deshabilita todo el scroll */
}

/* Estilos de la sección principal */
.section {
    min-height: 100vh;
    transition: background-image 0.5s ease-in-out;
    margin-bottom: 80px; /* Añade un margen inferior */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio entre los elementos hijos */
}

/* Estilos para el header */
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    overflow: hidden;
}

/* Estilos para la sección .Cabeza */
.Cabeza {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover; /* Ajusta la imagen para cubrir toda el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Estilos para la imagen principal centrada */
.logo-principal {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

/* Estilos para la imagen en la esquina izquierda */
.logo-secundaria {
    width: 50px;
    height: auto;
    position: absolute;
    left: 250px;
}

/* Contenedor para el contenido principal */
.contenedor {
    position: relative;
    left: -75%;
}

/* Ocultar el checkbox para el menú */
#menuToggle {
    display: none;
}

/* Estilos para el menú */
#menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 250px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Exotc350', Arial, sans-serif;
    color: var(--colorTextos);
}

#menuToggle:checked + label + #menu {
    display: block;
}

/* Estilos de la sección .Fondo */
.Fondo {
    width: 900px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
    background-image: url("../Fotos/Fondo_Compu_Inicio.jpg");
}

/* Estilos para el contenido central */
.Tronco {
    height: 390px;
    width: 800px;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
    background-color: transparent;
    overflow-y: auto;
    gap: 100px;
}

/* Estilos para la sección */
.seccion {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilos específicos para la sección inicial */
.Titular {
    font-size: 20px;
    text-align: center;
    font-family: 'Century Gothic', 'Arial', sans-serif;
}

.logo_Inicio {
    height: 250px;
    width: auto;
}

.Foto_Titular_Los_Altos_Encontrarnos {
    height: 80px;
    width: 50%;
}

.Foto_Los_Altos {
    height: 300px;
    width: auto;
}

.Titulo {
    font-size: 20px;
    font-family: 'Exotc350', Arial, sans-serif;
    color: var(--colorTextos);
    text-align: center;
}

.Cuerpo {
    font-size: 15px;
    padding: 20px;
    font-family: 'Century Gothic', 'Arial', sans-serif;
    color: var(--colorTextos);
    text-align: center;
}

/* Estilos para el menú desplegable */
.menu-container {
    margin: 20px;
    background-image: url('../Fotos/Menu_Barra.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu > ul > li {
    display: inline-block;
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
}

.menu a {
    text-decoration: none;
    color: var(--colorTextos);
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
    padding: 0;
    list-style: none;
}

.menu ul ul li {
    display: block;
    margin: 0;
}

.menu ul ul a {
    padding: 10px 15px;
}

.menu li:hover > ul {
    display: block;
}

/* Contenedor de la imagen */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin-top: 20px;
}

.image-container img {
    max-width: 300px;
    max-height: 300px;
    display: block;
}

/* Estilos para el footer */
footer {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: auto;
}

.pies {
    text-align: center;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Titular_Contacto {
    margin: 5px;
    text-align: center;
    font-size: 20px;
}

.column_text {
    text-align: center;
    font-size: 15px;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
    text-align: center;
    left: 250px;
}

.column {
    background-color: transparent;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    flex: 1;
    min-width: 200px;
    text-align: center;
    display: none; /* Ocultar inicialmente */
}

/* Estilos para dispositivos móviles */
@media (max-width: 500px) {

    /* Ajustes para el header */
    header {
        height: auto;
        padding: 20px;
    }

    .logo-principal {
        width: 80px;
    }

    .logo-secundaria {
        width: 40px;
        left: 120px;
    }

    .contenedor {
        left: 0;
    }

    #menu {
        left: 30px;
    }

    /* Ajustes para la sección .Fondo */
    .Fondo {
        width: 350px;
        height: 580px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 10px;
        margin: 10px;
    }

    .Tronco {
        height: 250px;
        width: 90%;
        position: relative;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 10px;
    }

    .menu > ul > li {
        display: block;
        margin: 10px 0;
    }

    .menu ul ul {
        position: relative;
    }

    .menu ul ul a {
        padding: 5px 10px;
    }

    .image-container {
        height: 40vh;
    }

    .image-container img {
        max-width: 200px;
        max-height: 200px;
    }

    footer {
        height: auto;
        padding: 10px;
    }
}
